.App {
  text-align: center;
  min-height: 100%;
}


body, h1,h2,h3,h4,h5,h6,button,a,td,th,tr,input,Link{
  /* vertical-align: baseline; */
  font-family: "montserrat";
}

/* ----------------------- header area ----------------------- */

.header{
  background-color: #5C5C5C;
  padding: 50px;
  padding-left: 140px;
  padding-right: 140px;
  min-height: 130px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo{
  font-size: 50px;
  font-weight: 600;
  display: flex;
  float: left;
  margin-left: 20px;
  color: #00C9CD;
}

.logo:visited{
  color: #00C9CD;
}

.logo:hover{
  color: #00C9CD;
  text-decoration: none;
}

.buttons-area{
  display: flex;
  float: right;
  margin-top: -20px;
}


.LinkHeader:hover{
  text-decoration: none;
}

.login-butt{
  font-family: "montserrat";
  border: solid 2px #00C9CD;
  color: #00C9CD;
  background-color: transparent;
  border-radius: 50px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
  width: 122px;
  font-size: 20px;
  font-weight: 600;
}

.login-butt:hover{
  color: #5C5C5C;
  background-color: #fff;
  border-color: #fff;
}

.login-butt:focus{
  outline: none;
  border: none;
}

.signup-butt{
  font-family: "montserrat";
  border: solid 2px #00C9CD;
  color: #5C5C5C;
  background-color: #00C9CD;
  border-radius: 50px;
  /* padding-left: 20px;
  padding-right: 20px; */
  margin: 20px;
  /* display: inline-block; */
  width: 122px;
  font-size: 20px;
  font-weight: 600;
}

.signup-butt:hover{
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.signup-butt:focus{
    outline: none;
    border: none;
}

/* ---------------------------------------------- */

.main-div{
  margin-top: 80px;
}


input{
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.submit{
  padding: 15px;
  border-radius: 50px;
  border: solid 1px transparent;
  width: 400px;
  color: #000;
  background-color:#00C9CD;
  font-family: "montserrat";
  font-weight: 700;

}

.submit:hover{
  color: #00C9CD;
  background-color: transparent;
  border: solid 2px #00C9CD;
}

.submit:focus{
  outline: none;
  border: none;
}

.inputArea{
  border: 0;
  border-bottom: 1px solid #000;
  font-family: "montserrat";
  padding: 0px;
  margin: 15px;
  width: 400px;
  font-size: 20px;
}

.inputArea:focus{
  outline: none;
}




/* ---------------------- footer area ------------------------ */

html {
  position: relative;
  min-height: 100vh;
}

.main{
  height: 100vh;
}
.footer{
  background-color: #5C5C5C;
  padding-top: 10px;
  /* position: relative;
  bottom: 0; */
  /* margin-top: -200px; */
  width:100%;
  height:80px; 
  overflow: hidden;
}

.list{
  list-style-type: none;
  margin: 0;
  padding-bottom: 4px;
}

ul{
  padding: 0;
}

li{
  padding: 20px;
  /* margin-bottom: 50px; */
  display: inline-block;
  color: #fff
}

.tableConatainer{
  margin: 0 auto;
  display: inline-block;
  width: 1010px;
}
.tableProjects{
  margin: auto;
  width: 60%;
}

.tableProjectsHeading{
  margin-bottom: 20px;
}

.trHeading{
  font-weight: 700;
  font-size: 22px;
}

td{
  border: solid 1px #000;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
}

th{
  border: solid 1px #000;
  width: 335px;
}
/* -------------------------- nav bar ------------------------- */

.nav-bar_container{
  margin-top: 100px;
  margin-bottom: 40px;
}

.navbar {
  width: 60%;
  display: inline-block;
  align-items: center;
  min-height: 10vh;
  /* padding: 0 10px; */
  margin: auto;
  background-color: transparent;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}


.nav-links {
  display: inline-block;
  align-items: center;
  list-style: none;
  font-size: 28px;
  text-decoration: none;
  color: #5C5C5C;
}

.nav-links:hover{
  text-decoration: none;
  color: #00C9CD;
}

.nav-link:active{
  background-color: #333333;
  color: #fff;
}

.nav-itam :focus{
  background-color: #333333;
  color: #fff;
}

.lable{
  padding: 10px;
}

.select-box {
  position: relative;
  display: block;
  font-family: "montserrat";
  font-size: 28px;
  color: #5C5C5C;
  border: none;

}

.select-box:hover{
  color: #00C9CD;
}

.select-box:focus{
  outline: none;
}

.select-box.option {
  display: block;
  padding: 15px;
  background-color: #fff;
}

/* .select-items {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  background-color: #fff;
}

.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
} */